@import "../../styles/styleconfig";

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1220px;
  margin-bottom: 25px;

  @include underScreen {
    margin-bottom: 15px;
  }
}

.item_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @include underScreen {
    margin-bottom: 15px;
  }
}

.title_wrap {
  display: flex;
  align-items: center;
  cursor: pointer;

  & > i {
    font-size: 20px;
  }
}

.title {
  font-size: 20px;
  color: #303030;
  position: relative;
  padding-right: 25px;

  .star {
    position: absolute;
    top: 0;
    right: 10px;
    color: #da291c;
  }

  @include underScreen {
    font-size: 18px;
  }
}

.item_ctx {
  width: 100%;
  height: 450px;
  font-size: 18px;
  color: #303030;
  padding: 15px 10px 15px 25px;
  box-shadow: 0px 4px 16px #0000001a;
  border: 1px solid #da291c;
  border-radius: 5px;
  word-break: keep-all;
  overflow: hidden;
  line-height: 1.8;
  text-underline-position: under;

  & u {
    font-weight: 800;
  }

  @include underScreen {
    height: 300px;
    font-size: 16px;
  }
}

.ctx {
  padding-right: 25px;
}

.name {
  width: 190px;
  height: 50px;
  border: 1px solid #222222;
  border-radius: 2px;
  text-align: center;
  padding: 0 10px;
  font-size: 16px;
  color: #222;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  margin-left: 16px;

  &::placeholder {
    font-weight: 300;
  }

  @include underScreen {
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}

.agreeNotice {
  width: 190px;
  height: 50px;
  border: 1px solid #222222;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  color: #222;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 16px;

  & > i {
    margin-right: 5px;
  }

  @include underScreen {
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}

.agree {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}

.id_btn {
  width: 190px;
  height: 50px;
  background-color: #acacac;
  color: #fff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #da291c;
  }

  @include underScreen {
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}

.id_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id_container {
  width: 600px;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;

  @include underScreen {
    width: 414px;
    height: 262px;
    margin-top: 5px;
  }
}

.id_txt {
  @include underScreen {
    display: none;
  }
}

.id_box {
  width: 295px;
  height: 185px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;

  @include underScreen {
    width: 206px;
    height: 130px;
  }
}

.yg {
  width: 248px;

  @include underScreen {
    width: 173px;
  }
}

.jm {
  width: 283px;

  @include underScreen {
    width: 198px;
  }
}

.fr {
  width: 271px;

  @include underScreen {
    width: 189px;
  }
}

.uj {
  width: 245px;

  @include underScreen {
    width: 171px;
  }
}

.id {
  width: 430px;
  height: 225px;
  border: 1px dashed #707070;
  margin-right: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  user-select: none;
  color: #acacac;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.sub_ctx {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;

  & > span {
    color: #da291c;
  }
}

.ca_wrap {
  display: flex;
  align-items: center;
  color: #da291c;
  cursor: pointer;
}

.check {
  width: 20px;
  height: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  border-radius: 2px;
  border: 1px solid #da291c;
  cursor: pointer;
}

.ca {
  background-color: #da291c;
}

.done_wrap {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 15px 70px 20px;
  border-radius: 3px;

  & > span {
    color: #da291c;
    font-weight: 500;
  }
  & > p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
  }
}

.done {
  width: 115px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  border: 1px solid #da291c;
  background-color: #da291c;
  transition: all 0.1s ease-in-out;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
}
