@import "../../../styles/styleconfig";

.wrap {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: $medium;
  user-select: none;
  background-color: #222;
  color: #ffffff;
  padding: 0 20px 0 25px;
  margin-bottom: 30px;

  & > i {
    cursor: pointer;
    font-size: 24px;
  }
}
