@import "../../../../styles/styleconfig";

.wrap {
  display: flex;
  margin: 0 0 20px;
  user-select: none;
}

.left_wrap {
  margin-right: 20px;
}

.right_wrap {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.in_out_wrap {
  .title {
    color: $semiBlack;
    font-weight: $medium;
    margin-bottom: 8px;
  }
}
