@import "../../../styles/styleconfig";

.wrap {
  border-radius: 999px;
  transition: background-color 0.1s ease-in-out;
  margin: 0 5px;
  cursor: pointer;
}

.wrap_on {
  background-color: #222222;
}

.wrap_off {
  background-color: #acacac;
}

.slider_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider {
  border-radius: 999px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
}

.off {
  background-color: #ffffff;
  left: 0%;
}

.on {
  background-color: #ffffff;
  left: 100%;
}

.none_if_small_screen {
  @include smallScreen {
    display: none;
  }
}
