@import "../../../styles/styleconfig";

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  flex: 1;
  background-color: $white;
  padding: 20px 35px 5px;
  overflow: hidden;
}

.time {
  width: 45px;
  height: 100%;
  font-size: 18px;
  color: #acacac;
  margin-right: 35px;
  position: relative;
  padding-top: 50px;

  .t {
    position: absolute;
    transform: translate(0, -50%);
    left: 0;
  }

  @include underScreen {
    font-size: 14px;
    margin-right: 8px;
  }
}

.item_wrap {
  width: calc(100% - 80px);
  display: flex;
}

.item {
  width: calc((100% - 40px) / 5);
  height: 100%;
  margin-right: 10px;
  position: relative;

  .title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #555555;
    border-radius: 2px;
    user-select: none;

    @include underScreen {
      height: 40px;
      font-size: 14px;
    }
  }

  .l {
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #dddddd;
    position: absolute;
    transform: translate(0, -50%);
    left: 0;
  }

  .c {
    width: 1px;
    height: calc(100% - 65px);
    background-color: #eeeeee;
    position: absolute;
    right: -6px;
    bottom: 0;
  }

  .tb {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2px 1px;
  }

  .tbi {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    color: #acacac;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    background: repeating-linear-gradient(
      -45deg,
      #eee,
      #eee 25px,
      #f5f5f5 0,
      #f5f5f5 60px
    );
    user-select: none;
    cursor: pointer;

    @include underScreen {
      padding: 4px;
      font-size: 12px;
    }
  }

  .blank {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: rgba(218, 41, 28, 0.2);
    }
  }

  .mine {
    background: unset;
    background-color: #da291c33;
    border: 1px solid #da291c;
    color: #222222;
  }

  &:last-child {
    margin-right: 0;
  }
}
