@import "../../../../styles/styleconfig";

.tab {
  max-width: 200px;
  height: 40px;
  background-color: $white;
  border-right: 2px solid $mainContainerColor;
  padding: 0 15px 0 5px;
  //0 15px 0 10px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  cursor: pointer;

  & > i {
    position: absolute;
    top: 13px; //5px
    right: 6px; //5px
    color: $gray;
    font-size: 13px; //10px
    font-weight: bold;
  }
}

.tab_disable {
  max-width: 150px;
  height: 35px;
  background-color: $lightGray;
}

.title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
