@import "../../../../../styles/styleconfig";

.wrap {
  width: 265px;
  height: 473px;
  border: 1px solid $semiBlack;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  user-select: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: $white;
  z-index: 10003;
  cursor: pointer;

  .check,
  .checked {
    width: 20px;
    height: 20px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border: 1px solid $semiBlack;
    font-size: $xs;
    font-weight: $medium;
  }

  .checked {
    background-color: $semiBlack;
  }
}
