@import "../../../styles/styleconfig";

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 100%;
  padding: 15px 10px;
  display: flex;

  .info {
    color: #222222;
    font-size: 16px;
    border: 1px solid #222222;
    padding: 5px 10px;
  }
}

.container_wrap {
  width: 100%;
  height: calc(100% - 71px);
  overflow: hidden;
}

.kind_wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 0;
}

.container {
  width: 100%;
  max-width: 830px;
  height: 100%;
  font-size: 16px;
  color: #303030;
  margin: 0 auto;

  .kind {
    display: inline-block;
    color: #ffffff;
    background-color: #da291c;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: $medium;
  }

  .title {
    padding: 5px 15px 10px 5px;
    font-size: 28px;
    font-weight: $bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #303030;
  }

  .book_mark_wrap {
    padding-top: 5px;
    cursor: pointer;
  }
}

.ctx {
  padding-bottom: 60px;
  & > img {
    display: block;
    margin: 0 auto;
    max-width: 860px;
  }
}
