.wrap {
  width: 95%;
  margin: 10px auto;
  border: 1px solid black;

  .title {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: #ffffff;

    .title_name {
      font-size: 14px;
      margin: 1px 0 1px 5px;
    }

    .title_button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 3px;
      cursor: pointer;

      i {
        font-size: 15px;
      }
    }
  }
}
