@import "../../../../styles/styleconfig";

.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $black;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: $white;
    font-size: 45px;
  }
}

.container {
  .date {
    font-size: $s;
  }

  .title {
    font-size: 24px;
    font-weight: $bold;
    margin-right: 15px;
  }
}
