@import "../../../styles/styleconfig";

.wrap {
  height: 100%;
  flex: 1;
}

.container {
  min-width: 315px;
  padding: 30px 40px;
  word-break: keep-all;
}

.loader_wrap {
  width: 100%;
  height: 90%;
  @include flexDirectionCenter;
}

.mail_contents {
  margin-top: 30px;
}
