@import "../../../styles/styleconfig";

.wrap {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  color: $semiBlack;
  transition: all 0.2s ease-in-out;
  border: 1px solid $semiBlack;
  user-select: none;
  cursor: pointer;

  &:hover {
    border-color: $lotteRed;
    color: $lotteRed;
  }
}

.size_up {
  width: fit-content;
  padding: 0 10px;
  height: 32px;
  font-size: 13px;
  margin-right: 15px;
}

.text {
  margin-left: 3px;
}
