.rdw-editor-wrapper {
  height: 100%;
}

.rdw-editor-toolbar {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  padding: 15px 5px;
  margin: 0 auto;
  border: 0;
}

.bordered-option-classname {
  margin-right: 10px;
}

.rdw-colorpicker-wrapper {
  position: relative;
}

.rdw-colorpicker-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 175px;
  border: 1px solid #f1f1f1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #bfbdbd;
}

.rdw-colorpicker-modal-header {
  display: -webkit-flex;
  display: flex;
  padding-bottom: 5px;
}

.rdw-colorpicker-modal-style-label-active {
  border-bottom: 2px solid #0a66b7;
}

.rdw-colorpicker-modal-style-label {
  font-size: 15px;
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0 10px 5px;
}

.rdw-colorpicker-modal-options {
  margin: 5px auto;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  overflow: scroll;
}

//toolbar
.rdw-option-wrapper {
  cursor: pointer;
  border: 0;
}

.rdw-colorpicker-option {
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 20px;
  margin: 3px;
  padding: 0;
  border: none;
  box-shadow: 1px 2px 1px #bfbdbd inset;
}

.rdw-colorpicker-cube {
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #f1f1f1;
}

.rdw-inline-wrapper {
  display: flex;
}

.rdw-editor-main {
  height: calc(100% - 60px);
  padding: 30px 30px 15px;
  overflow: auto;
}

//react-quil 관련
.quill {
  font-family: "Noto Sans KR";
}

.quill .ql-toolbar.ql-snow,
.quill .ql-container.ql-snow {
  border: none;

  .ql-editor {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
  }
}

.ql-container {
  height: calc(100% - 40px);
}
