@import "../../../styles/styleconfig";

.wrap {
  width: fit-content;
  min-width: 310px;
  height: 135px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px 15px;
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
  color: #303030;
}

.logo {
  width: 50px;
  margin-right: 15px;
}

.info_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 16px;
  font-weight: $medium;

  & > span {
    font-size: 20px;
    font-weight: $bold;
  }
}

.info {
  font-size: 14px;

  & > p {
    color: $lotteRed;
    font-size: 16px;
    font-weight: $medium;
    margin: 0;
  }
}
